<%- include('partials/header.ejs') %>
<div class="ui main text container segment">
    <div class="ui huge header">EDIT <%= blogs.title %></div>
    <form action="/blogs/<%=blogs._id %>?_method=PUT" class="ui form" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value= "<%=blogs.title %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%= blogs.image %>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" cols="30" rows="10"><%= blogs.body %></textarea>
        </div>
        <input type="submit" class="ui green big basic button">
    </form>
</div>

<%- include('partials/footer.ejs') %>