<%- include('partials/header.ejs') %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" class="ui form" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title" required>
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="image url" required>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" cols="30" rows="10" placeholder="New Blog Text Goes Here..." required></textarea>
        </div>
        <input type="submit" class="ui green big basic button">
    </form>
</div>

<%- include('partials/footer.ejs') %>