<%- include('partials/header.ejs') %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
        </div>
    </div>
    <a class="ui yellow basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
     <form id="delete" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
    <button class="ui red basic button">Delete</button>
    </form>
    
</div>

<%- include('partials/footer.ejs') %>